.todo-container {
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
}
.header {
  color: rgb(250, 250, 250);
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  padding: 0.5rem 0px 0.5rem;
}

@media (min-width: 768px) {
  .header {
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  .todo-container {
    max-width: 60%;
  }
}
.todo-input-container {
  display: flex;
  margin-bottom: 20px;
}

.todo-input {
  flex: 1;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 8px 0 0 8px;
  padding: 1rem 1rem;
}

.todo-button {
  padding: 12px 50px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.todo-button:hover {
  background-color: #45a049;
}

.todo-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.todo-item {
  display: flex;
  align-items: center;
  padding: 12px;
  font-size: 16px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 12px;
  transition: background-color 0.3s ease;
  position: relative;
  background-color: white;
}

.todo-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
}

.todo-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #999;
  cursor: pointer;
  outline: none;
  position: relative;
  margin-right: 12px;
}

.todo-checkbox:checked {
  background-color: #4caf50;
  border-color: #4caf50;
}

.todo-checkbox:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
}

.completed-task {
  text-decoration: line-through;
  color: #888;
}

.todo-remove-button {
  display: none;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  padding: 4px;
  font-size: 20px;
  color: black;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.todo-item:hover .todo-remove-button {
  display: block;
  color: white;
}

.todo-counts {
  margin-top: 16px;
  font-size: 14px;
}

.todo-counts span {
  font-weight: bold;
  margin-right: 4px;
}

.background-image {
  background-image: url("https://loganf50.github.io/todo-app/images/bg-desktop-dark.jpg");
  background-size: cover;
  min-height: 87vh;
  align-items: center;
  justify-content: center;
}

.count_div {
  display: flex;
  justify-content: space-between;
}
.count_div p {
  font-weight: bold;
  color: white;
  font-size: 18px;
  letter-spacing: 0.1rem;
}
